/* Cool CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Pacifico Regular;
    src: url('../fonts/Pacifico-Regular.ttf');
}

body {
    margin: 0;
    background-color: rgb(238, 236, 226);
}

h1 {
    font-family: Pacifico Regular;
    margin: 0;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
}

header {
    height: 15vh;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(204, 197, 162);

}

header input {
    border-radius: 3%;
    height: 60px;
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    transition: 0.5s;
    background-color: rgb(235, 233, 221);
    border-radius: 15px;
}

header input:focus {
    background-color: rgb(199, 194, 169);
    padding: 0.5em 1em;
}

header button {
    border: none;
    border-radius: 3%;
    height: 60px;
    padding: 0.5em;
    font-size: 1.2em;
    background-color: rgb(221, 217, 195);
    border-radius: 15px;

}

.my-location-btn {
    margin-inline-start: 2rem;
}

.main-container {
    padding: 40px;
    display: grid;
    min-height: 85vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "location       location        location location copy-location copy-location"
    "weather        weather         map         map         map        map"
    "weather        weather         map         map         map        map"
    "locations-table locations-table map        map         map         map";
    
    
}
.location-article-container{
    grid-area: location;
    font-size: 1.6em;
    width: 60vw;
    height: 90px;
    display: flex;
    margin: auto 0;
}
.location-article{
    margin: auto 0;
}

.copy-location-container{
    grid-area: copy-location;
    border: none;
    
    width: 35vw;
    height: 90px;
    padding: 0.5em;
    font-size: 1.2em;
    margin: auto 0;
}

.copy-location-container button{
    margin: auto;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 15px;
    background-color: rgb(221, 217, 195);
}

.weather {
    grid-area: weather;
    outline: solid 4px rgb(248, 245, 245);
    
}
.map-container{
    outline: solid 4px rgb(248, 245, 245);
    grid-area: map;
    border-radius: 15px;
    margin-left: 2rem;
}

.locations-table-container {
    grid-area:locations-table;
    outline: solid 4px rgb(248, 245, 245);
    margin-top: 2rem;
}

.video-preview {
    padding: 5px;
    margin: 8px;
    background-color: rgba(227, 255, 71, 0.712);
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.video-preview>img {
    margin: 5px;
}

.video-play {
    flex: 1;
    min-width: 300px;
    min-height: 250px;
}

.video-play iframe {
    position: relative;
    height: auto;
    width: 100%;
    height: 100%;
}

.wiki-preview {
    padding: 6px;
    margin: 2px;
    background-color: rgba(233, 56, 100, 0.712);
    border-bottom: 1px solid brown;
    border-radius: 2px;
}

@media (min-width: 750px) {
    .main-content {
        justify-content: center;
        flex-wrap: nowrap;
    }
}